:root {
    --main-bg-color: #fff;
    --active-bg-color: rgba(0, 194, 151, .1);
    --link-color: rgb(0, 194, 151); /* #00c297 */
    --link-hover-color: rgb(0, 165, 128);
}
body {
    font-family: 'Nunito', sans-serif;
    width: 100%;
    margin: 0;
    color: #242423
}
p{
    color: #3E3E40;
}
a{
    text-decoration: none;
    color: var(--link-color);
}
a:hover{
    color: var(--link-hover-color);
}
.bg-gradient{
    background: url("/img/bg.svg") repeat;
    background-position: top;
    min-height: 100vh;
}
.logo{
    display: flex;
    max-height: 70px;

}
.main{
    max-width: 880px;
    width: 100%;
    margin: auto
}
.columns{
    display: grid;
    grid-template-columns: 65% 30%;
    grid-gap: 20px;
}
.header-nav, .post{
    background-color: #fff;
    margin: 20px 0;
    border-radius: 6px;
    padding: 25px;
    -webkit-box-shadow: -1px 3px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: -1px 3px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: -1px 3px 8px 0px rgba(34, 60, 80, 0.2);
}
.header-nav h2{
    margin-top: 0;
}
.post{
    background-image: url(/img/post-bg.svg);
    background-repeat: no-repeat;
    background-position: right bottom;
}
.post-header{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: solid rgb(167 167 167 / 30%) 1px;
}
.three-dots{
    opacity: .5;
    cursor: pointer;
}
.info{
    display: flex;
    align-items: center;
}
.info img{
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}
nav ul{
    margin: 0
}
.flex{
    display: flex
}
.flex-between{
    justify-content: space-between;
}
.nav-wrapper{
    display: grid;
    grid-template-columns: 15% 45% 30%;
    grid-gap: 2%
}
.chip{
    font-size: 16px;
    padding: 0 11px;
    line-height: 32px;
    cursor: pointer;
    border: 1px #D6D6D6 solid;
    border-radius: 6px;
    display: flex;
}
.chip-active{
    /* border: 1px var(--active-bg-color); */
    background: var(--active-bg-color);
    color: var(--active-bg-color);
    display: flex;
    align-items: center;

}
.chip-active::before,
.tab-active::before{
    content: "";
    background: url(/img/check-label.svg) no-repeat;
    margin-right: 10px;
    width: 25px;
    height: 25px;
    background-position: center;
}
.chip:hover{
    background-color: var(--active-bg-color);
}
.sell-buy{
    display: flex;
    background-color: var(--main-bg-color);
    justify-self: center;
    width: fit-content;
    border-radius: 6px;
    padding: 2px;
    border: 1px #D6D6D6 solid;
}
.sell-buy li{
    list-style-type: none;
    padding: 0 10px;
    margin: 4px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
}
.sell-buy li:hover{
    background-color: var(--active-bg-color);
}
.chip a, .sell-buy a{
    display: block;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tab-active{
    background-color: var(--active-bg-color);
}
.currencies{
    padding: 0;
    position: relative;
}
.currencies li{
    list-style-type: none;
    padding: 10px;
}
.currencies-hidden{
    display: none;
    background-color: var(--main-bg-color);
    -webkit-box-shadow: -1px 13px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: -1px 13px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: -1px 13px 8px 0px rgba(34, 60, 80, 0.2);
    position: absolute;
    width: 100%;
    z-index: 2;
    border-radius: 6px;
    margin-top: 2px;
}
.currencies-hidden li{
    padding: 0;
}
.currencies-hidden  li a{
    display: block;
    padding: 10px;
    border-top: #D6D6D6 1px solid;
}
.currencies-hidden  li:first-child a{
    border: unset
}
.currencies-hidden  li a:hover{
    background-color: var(--active-bg-color);
}
.with-arrow{
    cursor: pointer;
    color: var(--link-color);
    border: 1px #D6D6D6 solid;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.currencies .with-arrow{
    padding: 7px 10px;

}
.with-arrow:hover{
    background-color: var(--active-bg-color);
}
.with-arrow::after{
    content: '';
    background: url(/img/arrow-down-cyan.svg) no-repeat;
    content: "";
    display: inline-block;
    vertical-align: 3px;
    margin-left: 9px;
    width: 19px;
    height: 8px;
    transition: transform .2s;
    background-size: 70%;
    background-position: center;
    cursor: pointer;
}
.currencies-active::after{
    transform: rotate(.5turn);
}
.active{
    display: block;
}