:root {
    --main-bg-color: #fff;
    --chip-bg-color: #fefafa;
    --active-bg-color: rgba(81, 209, 224, .1);
    --link-color: #1f7c87; /* #51d1e0 */
    --logo-color: #51d1e0;
    --link-hover-color: #267f89;
    --spoiler-color: #4ccad7;
    --secondary-color: #ff6b00;
    --title-color: #242423;
    --para-color: #3E3E40;
    --h1-font: 700 28px/140% 'Open Sans', sans-serif;
    --h2-font: 600 22px/140% 'Open Sans', sans-serif;
    --h3-font: 400 18px/140% "Open Sans", sans-serif;
    --para-medium-font: 400 15px/140% "Open Sans", sans-serif;
    --para-small-font: 400 12px/140% "Open Sans", sans-serif;

}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/open-sans-300.eot?#iefix') format('embedded-opentype'), 
         url('../fonts/open-sans-300.woff') format('woff'), 
         url('../fonts/open-sans-300.ttf') format('truetype'), 
         url('../fonts/open-sans-300.svg') format('svg');
    font-weight: light;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/open-sans-regular.eot?#iefix') format('embedded-opentype'), 
         url('../fonts/open-sans-regular.woff') format('woff'), 
         url('../fonts/open-sans-regular.ttf') format('truetype'), 
         url('../fonts/open-sans-regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/open-sans-700.eot?#iefix') format('embedded-opentype'), 
         url('../fonts/open-sans-700.woff') format('woff'), 
         url('../fonts/open-sans-700.ttf') format('truetype'), 
         url('../fonts/open-sans-700.svg') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    margin: 0;
    color: var(--title-color);
    font: var(--para-medium-font);
}
h1, h2, h3, h4, h5{
    margin-top: 0;
}
h1{
    font: var(--h1-font);
}
h2{
    font: var(--h2-font);
}
h3, .h3{
    font: var(--h3-font);
}
p{
    color: var(--para-color);
}
a{
    text-decoration: none;
    color: var(--link-color);
    font: var(--para-medium-font)
}
a:hover{
    color: var(--link-hover-color);
}
.bg-gradient{
    background-color: #edeef0;
    background-position: top;
    min-height: 100vh;
}
.logo{
    display: grid;
    grid-template-columns: 30% 70%;
    background-color: var(--main-bg-color);
    border-radius: 6px;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px
}
.logo-link{
    display: flex;
    align-items: center;
}
.logo-title{
    font: var(--h2-font);
    margin: 0;
    color: var(--title-color);
    white-space: nowrap;
}
.logo-img{
    width: 70px;
    margin-right: 10px;
}
.search-form{
    position: relative;
    justify-self: flex-end;
}
.search-input{
    min-width: 180px;
    padding: 10px 40px 10px 10px;
    border: none;
    border: 1px solid var(--para-color);
    box-sizing: border-box;
    border-radius: 4px;
}
.form-wrapper input:focus-visible,
.form-ad-row textarea:focus-visible,
.search-input:focus-visible{
    outline: unset;
    border: 1px solid var(--link-color);;
}
.search-submit{
    position: absolute;
    top: 8px;
    right: 8px;
    bottom: 0.3125rem;
    color: #7a7a7a;
    background: none;
    border: none;
    cursor: pointer;
}
.lowercased{
    text-transform: lowercase;
}
.main{
    max-width: 920px;
    padding: 0 15px;
    width: 100%;
    margin: auto;
    padding-top: 10px;
}
.columns{
    display: grid;
    grid-template-columns: 65% 33%;
    grid-gap: 20px;
    justify-content: space-between;
}
.header-nav, .post, .form-wrapper{
    background-color: #fff;
    margin: 20px 0;
    border-radius: 6px;
    padding: 25px;
    background-repeat: no-repeat;
    background-position: right bottom;
}
.sell_buy{
    grid-row: 2;
    grid-column: 1 / 2;
}
.nav-currencies{
    grid-row: 3;
    grid-column: 1 / 3;
}
.header-nav{
    display: grid;
    grid-template-columns: 60% 40%;
}
.header-nav h1{
    grid-row: 1;
    grid-column: 1 / 3;
}
.header-nav h2{
    margin-top: 0;
}
.post-header{
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
    margin-bottom: 10px;
    border-bottom: solid rgb(167 167 167 / 30%) 1px;
}
.three-dots{
    opacity: .5;
    cursor: pointer;
}
.info{
    display: flex;
    align-items: center;
}
.info img{
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}
.info-more{
    position: relative;
    padding: 0 15px;
    display: flex;
    align-items: center;
}
.info-more-our{
    cursor: pointer;
    width: 50px;
    margin-right: -10px;
}
.info-more:hover .info-hidden{
    display: block;
}
.info-hidden{
    display: none;
    position: absolute;
    right: 0;
    top: 70%;
    border-radius: 6px;
    background-color: var(--main-bg-color);
    box-shadow: -1px 13px 8px 0px rgb(34 60 80 / 20%);
    padding: 15px;
    z-index: 2;
}
.info-hidden a{
    white-space: nowrap;
    font: var(--para-small-font);
}
nav ul{
    margin: 0
}
.flex{
    display: flex
}
.flex-between{
    justify-content: space-between;
}
.nav-wrapper{
    display: grid;
    grid-template-columns: repeat(4, max-content);
    gap: 0 10px;
    margin: 5px 0;
}

.scrolled{
    position: sticky;
    top: 0;
    z-index: 3;
}
.scrolled h1, 
.scrolled p, 
.scrolled .chips{
    display: none;
}
.scrolled .nav-wrapper{
    position: static;
}
.chips{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}
.chip{
    line-height: 32px;
    cursor: pointer;
    border: 1px #D6D6D6 solid;
    border-radius: 6px;
    display: flex;
    align-items: center;
}
.chip a{
    color: var(--para-color);
}
.chip a:hover{
    color: var(--link-hover-color);
}
.chip-active{
    background: var(--active-bg-color);
    color: var(--active-bg-color);
    display: flex;
    align-items: center;
    color: var(--link-color);
    border: 1px solid var(--link-color)
}
.chip-active a{
    color: var(--link-color);
}
.header-nav h3,
.header-nav .h3{
    margin: 0 10px 0 0;
}
.chip-active a::before,
.tab-active a::before{
    content: "";
    background: url(/img/check-label.svg) no-repeat;
    width: 20px;
    height: 20px;
    margin-right: 9px;
    background-position: center;
}
.chip:hover{
    background-color: var(--active-bg-color);
}
.sell-buy{
    display: flex;
    background-color: var(--main-bg-color);
    justify-self: center;
    width: fit-content;
    border-radius: 6px;
    padding: 6px;
    border: 1px #D6D6D6 solid;
    margin-right: 10px;
    background-color: var(--chip-bg-color);
}
.sell-buy li,
.sell-buy label{
    list-style-type: none;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
}
.sell-buy li a,
.sell-buy label{
    padding: 0 10px;
}
.sell-buy li:hover,
.sell-buy label:hover{
    background-color: var(--active-bg-color);
}
.sort{
    grid-column: 1 / 3;
    margin: 5px 0
}
.chip a, 
.sell-buy a, 
.with-arrow a{
    display: block;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 11px;
}
.sell-buy a{
    color: var(--para-color);
}
.sell-buy-active .tab-active a{
    color: var(--link-color);
}
.tab-active,
.form-ad-row-radio input[type="radio"]:checked+label{
    background-color: var(--active-bg-color);
}
.ads_found{
    grid-row: 5;
}
.currencies{
    padding: 0;
    position: relative;
    display: flex;
    align-items: center;
    width: fit-content;
    grid-row: 2;
    grid-column: 2 / 3;
    margin: 0;
    justify-self: end;
}
.currencies li{
    list-style-type: none;
    padding: 10px;
}
.currencies-hidden{
    display: none;
    background-color: var(--main-bg-color);
    -webkit-box-shadow: -1px 13px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: -1px 13px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: -1px 13px 8px 0px rgba(34, 60, 80, 0.2);
    position: absolute;
    width: 100%;
    z-index: 2;
    border-radius: 6px;
    margin-top: 2px;
    top: 100%;
}
.currencies-hidden li{
    padding: 0;
}
.currencies-hidden  li a{
    display: block;
    padding: 10px;
    border-top: #D6D6D6 1px solid;
}
.currencies-hidden  li:first-child a{
    border: unset
}
.currencies-hidden  li a:hover{
    background-color: var(--active-bg-color);
}
.with-arrow{
    cursor: pointer;
    color: var(--link-color);
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.currencies .with-arrow{
    padding: 7px 10px;
    min-width: 100px;
    justify-content: space-around;
    margin-right: 0;
    border: 1px solid var(--link-color);
    background-color: var(--active-bg-color);
}
.sell-buy-active{
    border: 1px solid var(--link-color);
    background-color: var(--main-bg-color);
}
.with-arrow:hover{
    background-color: var(--active-bg-color);
}
.currencies .with-arrow::after,
.with-arrow a::after{
    content: '';
    background: url(/img/arrow-down-cyan.svg) no-repeat;
    content: "";
    display: inline-block;
    vertical-align: 3px;
    width: 19px;
    height: 8px;
    transition: transform .2s;
    background-size: 70%;
    background-position: center;
    cursor: pointer;
}
.with-arrow-rarr a::after,
.back-home::before{
    content: "";
    display: block;
    background: url(/img/rarr.svg) no-repeat;
    transform: rotate(-90deg);
    width: 20px;
    height: 20px;
    background-position: center;
}
.back-home{
    display: flex;
    align-self: center;
}
.back-home::before{
    transform: unset;
}
.with-arrow-rarr-up a::after{
    transform: rotate(90deg);
}
.currencies-active::after{
    transform: rotate(.5turn);
}
.mr-10{
    margin-right: 10px
}
.form-bg{
    position: sticky;
    top: 10px
}
.form-ad-row input{
    border: 1px solid rgba(102, 102, 102, 0.4);
    box-sizing: border-box;
    border-radius: 4px;
    background-color: var(--background-color);
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font: var(--para-small-font);
    color: var(--para-color);
    padding: 12px 16px;
    width: 100%;
}
.form-wrapper input:focus::placeholder{
    opacity: 0;
}
.form-ad-row input::placeholder{
    font: var(--para-small-font);
    color: var(--para-color);
}
.form-ad-row{
    position: relative;
    margin-top: 10px;
}
.form-ad-row label{
    font: var(--para-small-font);
    color: var(--para-color);
    position: absolute;
    top: 13px; 
    left: 10px;
    background: #fff;
    padding: 0 5px;
    visibility: hidden;
    transition: transform .3s linear;
}
.form-ad-row .textarea_active{
    padding-top: 65px;
}
.form-ad-row .textarea_active+label{
    visibility: visible;
}
.form-ad-row input:focus+label{
    visibility: visible;
    transform: translateY(-18px);
    font-size: 10px;
    color: var(--link-color);
    transition: all .2s linear;
}
.form-ad-row textarea{
    width: 100%;
    max-width: calc(100% - 32px);
    border-radius: 4px;
    border: 1px solid rgba(102, 102, 102, 0.4);
    padding: 12px 16px;
    background-color: transparent;
}
.form-ad-row-radio{
    width: unset;
    max-width: unset;
    margin: unset;
    justify-content: center;
    align-items: center;
}
.form-ad-row-radio label{
    width: 45%;
    justify-content: center;
    padding: 3px 10px;
}
.form-ad-row-radio input[type="radio"]{
    opacity: 0;
    position: absolute;
}
.sell-buy span{
    font-weight: 100;
    font-size: 20px;
    color: #cccccc;
}
.no-ads{
    text-align: center;
}
.form-ad-submit{
    width: 100%;
    cursor: pointer;
}
.form-ad-row .form-ad-submit{
    color: var(--main-bg-color);
    background-color: var(--logo-color);
}
.form-ad-submit:hover{
    background-color: var(--active-bg-color);
    border: 1px solid var(--link-color);
    color: var(--link-color);
}
.time-published{
    margin: 0 0 10px;
}
.time{
    margin: 0;
    font: var(--para-small-font);
}
.hidden_phone{
    width: fit-content;
    min-width: 100px;
    padding: 0 5px;
    background-image: url(/img/spoiler.svg);
    color: rgba(0, 0, 0, 0);
    display: inline-block;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    border: unset;
}
.hidden_phone-visible{
    white-space: nowrap;
    background-image: unset;
    background-color: rgba(204, 243, 247, .2);
    transition: all .3s linear;
    color: var(--para-color);
}
.hidden_phone:hover{
    color: rgba(0, 0, 0, 0);
}
.hidden_phone-visible:hover{
    color: var(--para-color);
}
.form-open{
    display: none;
}
.open-search{
    display: none;
}
#tosell{
    left: 50px;
}
#tobuy{
    right: 50px;
}
.close_modal{
    display: none;
}
.active{
    display: block;
}
.footer{
    background: #30b6cb;
    color: var(--main-bg-color);
    text-align: center;
    padding: 10px;
    font: var(--para-small-font);
}
.footer a{
    color: var(--main-bg-color);
    text-decoration: underline;
    font: var(--para-small-font);
}
@media (min-width: 992px) and (max-height: 550px){
    .form-bg{
        position: static;
    }
}
@media (max-width: 992px){
    .logo{
        margin: 0 15px;
    }
    .columns{
        display: flex;
        flex-direction: column-reverse;
        margin: 0 15px;
        grid-gap: unset;
    }
    .main{
        padding: 10px 0;
    }
    .form-bg{
        width: 100vw;
        height: 100vh;
        position: fixed;
        background-color: rgba(0, 0, 0, 0.1);
        top: 0;
        left: 0;
        display: none;
    }
    .form-bg-open{
        display: block;
    }
    .form-bg-open+.form-open{
        display: none;
    }
    .form-open{
        display: block;
        background-color: var(--para-color);
        color: var(--main-bg-color);
        font: var(--para-medium-font);
        border-radius: 8px;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        max-width: 300px;
        padding: 10px;
    }
    .form-wrapper{
        position: fixed;
        left: 0;
        right: 0;
        top: 10%;
        margin: auto;
        max-width: 500px;
    }
    .nav-wrapper, .chips{
        justify-content: flex-start;
        flex-wrap: wrap;
        margin: 0;
    }
    .nav-wrapper ul, .chip{
        margin: 0 0 10px 10px;
    }
    .nav-wrapper .chip{
        margin-left: 0;
    }
    h1, .form-wrapper h2{
        text-align: center;
    }
    .form-ad-row-radio{
        max-width: 386px;
        margin: 10px auto;
    }
    .form-ad-row{
        max-width: 400px;
        margin: 10px auto;
    }
    .close_modal{
        display: block;
        position: absolute;
        right: 30px;
        width: 20px;
        height: 20px;
        background-image: url(/img/thin-close-icon.svg);
        background-position: center;
        background-repeat: no-repeat;
    }
}

@media (max-width: 768px){
    .logo-img{
        width: 50px;
    }
    .logo-title{
        font: var(--h3-font)
    }
    .logo{
        grid-template-columns: 80% 20%;
        padding: 10px 15px;
        position: relative;
    }
    .form-wrapper{
        max-width: 300px;
    }
    .open-search{
        display: block;
        justify-self: flex-end;
        width: 30px;
        height: 30px;
        background-color: var(--logo-color);
        object-fit: none;
        border-radius: 50%;
    }
    .search-form{
        grid-column: 1 / 3;
        width: 100%;
        transform: scale(1, 0);
        position: absolute;
        top: 93%;
        transition: transform .1s;
        background: var(--main-bg-color);
        width: calc(100vw - 30px);
        left: -30px;
        right: -30px;
        margin: auto;
    }
    .search-submit{
        right: 15px;
    }
    .open-search-active + .search-form{
        transform: scale(1, 1);
        transition: transform .1s;
    }
    .search-input{
        max-width: 97%;
        width: 100%;
        display: block;
        margin: auto;
    }
}
@media (max-width: 580px){
    .form-ad-row input{
        padding: 10px 16px;
    }
    .currencies{
        grid-row: 4;
        grid-column: 1 / 3;
        justify-self: flex-start;
        margin-bottom: 10px;
    }
    .ads_found{
        grid-row: 6;
        grid-column: 1 / 3;
    }
}
@media (max-width: 420px){
    .nav-wrapper{
        grid-template-columns: repeat(3, max-content);
    }
}