:root {
    --main-bg-color: #fff;
    --chip-bg-color: #fefafa;
    --active-bg-color: rgba(81, 209, 224, .1);
    --link-color: #1f7c87; /* #51d1e0 */
    --logo-color: #51d1e0;
    --red: #eb4e3d;
    --green: #65c466;
    --link-hover-color: #267f89;
    --title-color: #242423;
    --para-color: #3E3E40;
    --question-mark-color: #A8A9AC;
    --h1-font: 700 28px/140% 'Open Sans', sans-serif;
    --h2-font: 600 20px/140% 'Open Sans', sans-serif;
    --h3-font: 400 18px/140% "Open Sans", sans-serif;
    --h4-font: 400 16px/140% "Open Sans", sans-serif;
    --para-medium-bolt: 600 15px/140% "Open Sans", sans-serif;
    --para-medium-font: 400 15px/140% "Open Sans", sans-serif;
    --span-font: 400 13px/140% "Open Sans", sans-serif;
    --para-small-font: 400 12px/140% "Open Sans", sans-serif;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/open-sans-300.eot?#iefix') format('embedded-opentype'), 
         url('../fonts/open-sans-300.woff') format('woff'), 
         url('../fonts/open-sans-300.ttf') format('truetype'), 
         url('../fonts/open-sans-300.svg') format('svg');
    font-weight: light;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/open-sans-regular.eot?#iefix') format('embedded-opentype'), 
         url('../fonts/open-sans-regular.woff') format('woff'), 
         url('../fonts/open-sans-regular.ttf') format('truetype'), 
         url('../fonts/open-sans-regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/open-sans-700.eot?#iefix') format('embedded-opentype'), 
         url('../fonts/open-sans-700.woff') format('woff'), 
         url('../fonts/open-sans-700.ttf') format('truetype'), 
         url('../fonts/open-sans-700.svg') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    margin: 0;
    color: var(--title-color);
    font: var(--para-medium-font);
}
h1, h2, h3, h4, h5, p{
    margin-top: 0;
}
h1{
    font: var(--h1-font);
}
h2{
    font: var(--h2-font);
}
h3, .h3{
    font: var(--h3-font);
}
p{
    color: var(--para-color);
}
a{
    text-decoration: none;
    color: var(--link-color);
    font: var(--para-medium-font)
}
a:hover{
    color: var(--link-hover-color);
}
.bg-gradient{
    background-color: #edeef0;
    background-position: top;
    min-height: 100vh;
}
.logo{
    display: grid;
    grid-template-columns: max-content 1fr max-content  max-content;
    background-color: var(--main-bg-color);
    border-radius: 6px;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    column-gap: 10px;
    position: sticky;
    top: 0;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 8%);
    z-index: 2;
}
.logo-link{
    display: flex;
    align-items: center;
    gap: 5px;
}
.logo-title{
    font: var(--h3-font);
    line-height: 115%;
    margin: 0;
    color: var(--title-color);
    white-space: nowrap;
}
.logo-img{
    width: 70px;
}
.location-modal-open{
    display: flex;
    align-items: center;
    gap: 4px;
    color: var(--link-color);
    cursor: pointer;
}
.location-modal-open:hover{
    color: var(--link-hover-color);
}
.location-modal-open::before{
    content: '';
    width: 16px;
    height: 16px;
    display: inline-block;
    background-image: url(/img/location.svg);
}
.location-title{
    font: var(--h2-font);
}
.location-list{
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-gap: 24px;
}
.location-city a{
    color: var(--para-color);
    font: var(--para-medium-font);
}
.location_current-city{
    display: flex;
    align-items: center;
    gap: 10px;
    font: var(--para-medium-bolt);
}
.location_current-city::before{
    content: '';
    width: 24px;
    height: 24px;
    display: inline-block;
    background-image: url(/img/checked-icon.svg);
}
.search-form{
    position: relative;
    justify-self: flex-end;
}
.search-input{
    min-width: 150px;
    padding: 9px 30px 9px 10px;
    border: none;
    border: 1px solid var(--para-color);
    box-sizing: border-box;
    border-radius: 4px;
}
.search-input::placeholder{
    font: var(--span-font);
}
.form-wrapper input:focus-visible,
.form-ad-row textarea:focus-visible,
.search-input:focus-visible{
    outline: unset;
    border: 1px solid var(--link-color);;
}
.search-submit{
    position: absolute;
    top: 8px;
    right: 3px;
    bottom: 0.3125rem;
    color: #7a7a7a;
    background: none;
    border: none;
    cursor: pointer;
}
.lowercased{
    text-transform: lowercase;
}
.main{
    max-width: 920px;
    padding: 0 15px;
    width: 100%;
    margin: auto;
    padding-top: 10px;
}
.footer_content{
    max-width: 920px;
    margin: auto;
}
.columns{
    display: grid;
    grid-template-columns: 65% 34%;
    grid-gap: 10px;
    justify-content: space-between;
}

.currency-title{
    grid-column: 1 / 3;
}
.show-all-row{
    grid-column: 1 / 3;
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.header-nav_wrapper, 
.rates,
.post, 
.form-wrapper,
.modal-inner,
.sorting-column{
    background-color: #fff;
    margin: 10px 0;
    border-radius: 6px;
    padding: 25px;
    background-repeat: no-repeat;
}
.close_modal{
    display: block;
    position: absolute;
    top: 15px;
    right: 15px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-image: url(/img/thin-close-icon.svg);
    background-position: center;
    background-repeat: no-repeat;
}
.form-bg,
.modal-hidden,
.popup-bg{
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    display: none;
}
.form-bg-open,
.modal-active .modal-hidden,
.popup-bg-open{
    display: block;
    z-index: 4;
}
.form-open{
    display: block;
    background-color: var(--active-bg-color);
    border: 1px solid var(--link-color);
    color: var(--link-color);
    font: var(--span-font);
    border-radius: 4px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 300px;
    padding: 8px;
    cursor: pointer;
}
.form-open:hover{
    background-color: var(--logo-color);
    color: var(--main-bg-color);
    border-color: var(--logo-color);
}
.modal-inner,
.form-wrapper{
    position: fixed;
    left: 0;
    right: 0;
    top: 10%;
    margin: auto;
    max-width: 350px;
}
.sorting-h2{
    grid-column: 1 / 3;
    margin: 0 0 5px;
}
.sell_buy{
    grid-column: 1 / 2;
}
.nav-currencies{
    grid-column: 1 / 3;
}
.sorting-column{
    display: grid;
    grid-template-columns: 60% 40%;
    position: sticky;
    top: 80px;
    padding: 25px 20px;
    gap: 10px;
}
.sorting-column h2{
    margin-top: 0;
}
.desktop-yandex-ads{
    position: sticky;
    top: 490px;
}
.post-header{
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
    margin-bottom: 10px;
    gap: 10px;
    border-bottom: solid rgb(167 167 167 / 30%) 1px;
}
.three-dots{
    opacity: .5;
    cursor: pointer;
}
.post-content{
    white-space: pre-line;
}
.info{
    display: flex;
    align-items: center;
}
.info img{
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}
.info-more{
    position: relative;
    display: flex;
    align-items: center;
}
.info-more-our{
    cursor: pointer;
    width: 50px;
    margin-right: -10px;
}
.info-more:hover .info-hidden{
    display: block;
}
.info-hidden{
    display: none;
    position: absolute;
    right: 0;
    top: 70%;
    border-radius: 6px;
    background-color: var(--main-bg-color);
    box-shadow: -1px 13px 8px 0px rgb(34 60 80 / 20%);
    padding: 15px;
    z-index: 2;
}
.info-hidden a{
    white-space: nowrap;
    font: var(--para-small-font);
}
nav ul{
    margin: 0
}
.flex{
    display: flex
}
.flex-between{
    justify-content: space-between;
}
.nav-wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 10px 5px;
    grid-column: 1 / 3;
}

.scrolled{
    position: sticky;
    top: 0;
    z-index: 3;
}
.scrolled h1, 
.scrolled p, 
.scrolled .chips{
    display: none;
}
.scrolled .nav-wrapper{
    position: static;
}
.chips{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}
.chip{
    line-height: 32px;
    cursor: pointer;
    border: 1px #D6D6D6 solid;
    border-radius: 6px;
    display: flex;
    align-items: center;
    width: fit-content;
}
.chip a{
    color: var(--para-color);
}
.chip a:hover{
    color: var(--link-hover-color);
}
.chip-active{
    background: var(--active-bg-color);
    color: var(--active-bg-color);
    display: flex;
    align-items: center;
    color: var(--link-color);
    border: 1px solid var(--link-color)
}
.chip-active a{
    color: var(--link-color);
}
.sorting-column h3,
.sorting-column .h3{
    margin: 0 10px 0 0;
}
.chip-active a::before,
.tab-active a::before{
    content: "";
    background: url(/img/check-label.svg) no-repeat;
    width: 16px;
    height: 16px;
    margin-right: 5px;
    background-position: center;
}
.chip:hover{
    background-color: var(--active-bg-color);
}
.sell-buy{
    display: flex;
    background-color: var(--main-bg-color);
    justify-self: center;
    width: fit-content;
    border-radius: 6px;
    padding: 6px;
    border: 1px #D6D6D6 solid;
    margin-right: 10px;
    background-color: var(--chip-bg-color);
}
.dropdown-item,
.sell-buy li,
.sell-buy label{
    list-style-type: none;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
}
.sell-buy li a,
.sell-buy label{
    padding: 0 10px;
}
.sell-buy li:hover,
.sell-buy label:hover{
    background-color: var(--active-bg-color);
}
.sort{
    grid-column: 1 / 3;
    margin: 0;
    justify-content: start;
    gap: 0 5px;
}
.chip a, 
.sell-buy a, 
.with-arrow a{
    display: block;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
}
.course_checkbox{
    justify-self: end;
    align-self: center;
}
.course_checkbox a{
    display: flex;
    align-items: center;
    color: var(--para-color);
    gap: 10px;
}
.checkbox{
    width: 40px;
    height: 20px;
    border-radius: 30px;
    position: relative;
    background-color: var(--active-bg-color);
}
.checkbox_active{
    background-color: var(--logo-color);
}
.checkbox::after{
    content: "";
    height: 16px;
    width: 16px;
    background-color: var(--main-bg-color);
    border-radius: 50%;
    position: absolute;
    display: inline-block;
    top: 2px;
    left: 2px;
}
.checkbox_active::after{
    left: auto;
    right: 2px;
}
.sell-buy a{
    color: var(--para-color);
}
.sell-buy-active .tab-active a{
    color: var(--link-color);
}
.tab-active,
.form-ad-row-radio input[type="radio"]:checked+label{
    background-color: var(--active-bg-color);
}
.sort,
.currencies{
    padding: 0;
    position: relative;
    display: flex;
    align-items: center;
    width: fit-content;
    grid-column: 1 / 3;
    gap: 5px;
    margin: 0;
    max-width: 195px;
    justify-content: space-between;
    width: 100%;
}
.currencies li{
    list-style-type: none;
    padding: 10px;
}
.dropdown-hidden{
    display: none;
    background-color: var(--main-bg-color);
    -webkit-box-shadow: -1px 13px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: -1px 13px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: -1px -1px 8px 1px rgba(34, 60, 80, 0.2);
    position: absolute;
    width: fit-content;
    z-index: 2;
    border-radius: 6px;
    margin-top: 10px;
    top: 100%;
    right: 0;
}
.dropdown-hidden::after{
    content: '';
    width: 10px;
    height: 10px;
    background-color: var(--main-bg-color);
    transform: rotate(45deg);
    position: absolute;
    top: -3px;
    right: 18px;
    display: inline-block;
}
.dropdown-hidden li{
    padding: 0 14px;
}
.dropdown-hidden li a{
    display: block;
    padding: 10px;
    border-top: #D6D6D6 1px solid;
}
.dropdown-hidden  li:first-child a{
    border: unset
}
.dropdown-hidden  li:hover{
    background-color: var(--active-bg-color);
}
.with-arrow{
    cursor: pointer;
    color: var(--link-color);
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sort .with-arrow,
.currencies .with-arrow{
    padding: 5px 10px;
    min-width: 80px;
    justify-content: space-around;
    margin-right: 0;
    border: 1px solid var(--link-color);
    background-color: var(--active-bg-color);
}
.sell-buy-active{
    border: 1px solid var(--link-color);
    background-color: var(--main-bg-color);
}
.with-arrow:hover{
    background-color: var(--active-bg-color);
}
.sort .with-arrow::after,
.currencies .with-arrow::after,
.with-arrow a::after{
    content: '';
    background: url(/img/arrow-down-cyan.svg) no-repeat;
    content: "";
    display: inline-block;
    vertical-align: 3px;
    width: 19px;
    height: 8px;
    transition: transform .2s;
    background-size: 70%;
    background-position: center;
    cursor: pointer;
}
.with-arrow-rarr-span,
.dropdown-hidden .with-arrow-rarr a{
    display: flex;
    align-items: center;
}
.with-arrow-rarr-span::after,
.with-arrow-rarr a::after,
.go_to_vk::after,
.back-home::before{
    content: "";
    display: block;
    background: url(/img/rarr.svg) no-repeat;
    transform: rotate(-90deg);
    width: 20px;
    height: 20px;
    background-position: center;
}
.back-home{
    display: flex;
    align-self: center;
}
.back-home::before{
    transform: unset;
}
.go_to_vk{
    display: flex;
    gap: 2px;
    align-items: center;
    font: var(--para-small-font);
}
.go_to_vk::after{
    transform: rotate(180deg);
    background-position: top;
}
span.with-arrow-rarr-up::after,
.with-arrow-rarr-up a::after{
    transform: rotate(90deg);
}
.currencies-active::after{
    transform: rotate(.5turn);
}
.mr-10{
    margin-right: 10px
}
.form-ad-row input{
    border: 1px solid rgba(102, 102, 102, 0.4);
    box-sizing: border-box;
    border-radius: 4px;
    background-color: var(--background-color);
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font: var(--para-small-font);
    color: var(--para-color);
    padding: 12px 16px;
    width: 100%;
}
.search-input:focus::placeholder,
.form-wrapper input:focus::placeholder{
    opacity: 0;
}
.form-ad-row input::placeholder{
    font: var(--para-small-font);
    color: var(--para-color);
}
.form-ad-row{
    position: relative;
    margin-top: 10px;
}
.search-label,
.form-ad-row label{
    font: var(--para-small-font);
    color: var(--para-color);
    position: absolute;
    top: 13px; 
    left: 10px;
    background: #fff;
    padding: 0 5px;
    visibility: hidden;
    transition: transform .3s linear;
}
.form-ad-row .textarea_active{
    padding-top: 65px;
}
.form-ad-row .textarea_active+label{
    visibility: visible;
}
.search-input:not(:placeholder-shown)+.search-label,
.search-input:focus+.search-label,
.form-ad-row input:not(:placeholder-shown)+label,
.form-ad-row input:focus+label{
    visibility: visible;
    transform: translateY(-18px);
    font-size: 10px;
    color: var(--link-color);
    transition: all .2s linear;
}
.form-ad-row textarea{
    width: 100%;
    max-width: calc(100% - 32px);
    border-radius: 4px;
    border: 1px solid rgba(102, 102, 102, 0.4);
    padding: 12px 16px;
    background-color: transparent;
}
.form-ad-row-radio{
    width: unset;
    max-width: unset;
    margin: unset;
    justify-content: center;
    align-items: center;
}
.form-ad-row-radio label{
    width: 45%;
    justify-content: center;
    padding: 3px 10px;
}
.form-ad-row-radio input[type="radio"]{
    opacity: 0;
    position: absolute;
}
.open-filters{
    display: none;
}
.additional-info{
    padding: 0 20px;
}
.additional-info p{
    font: var(--span-font);
    margin: 0 0 5px;
}
.additional-info-a{
    font: var(--para-small-font);
    color: var(--para-color);
}
.sell-buy span{
    font-weight: 100;
    font-size: 20px;
    color: #cccccc;
}
.social_icons{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-self: end;
}
.ads_found{
    margin: 10px 0;
}
.social_icons a{
    display: block;
    line-height: 30px;
}
.no-ads{
    text-align: center;
}
.form-ad-submit{
    width: 100%;
    cursor: pointer;
}
.form-ad-row .form-ad-submit{
    color: var(--main-bg-color);
    background-color: var(--logo-color);
}
.form-ad-submit:hover{
    background-color: var(--active-bg-color);
    border: 1px solid var(--link-color);
    color: var(--link-color);
}
.time-published{
    margin: 0 0 10px;
}
.time{
    margin: 0;
    font: var(--para-small-font);
}
.hint_message{
    margin: 5px 0;
}
.hidden_phone{
    width: fit-content;
    min-width: 100px;
    padding: 0 5px;
    background-image: url(/img/spoiler.svg);
    color: rgba(0, 0, 0, 0);
    display: inline-block;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    border: unset;
}
.hidden_phone-visible{
    white-space: nowrap;
    background-image: unset;
    background-color: rgba(204, 243, 247, .2);
    transition: all .3s linear;
    color: var(--para-color);
}
.hidden_phone:hover{
    color: rgba(0, 0, 0, 0);
}
.hidden_phone-visible:hover{
    color: var(--para-color);
}
.page-search .show-all-row,
.page-search .nav-wrapper,
.page-search .currency-title,
.page-search .sort{
    display: none;
}
.open-search{
    display: none;
    width: 30px;
    height: 30px;
    background-image: url(/img/search-white.svg);
    background-repeat: no-repeat;
    background-position: center;
}
#tosell{
    left: 50px;
}
#tobuy{
    right: 50px;
}
.active{
    display: block;
}
.footer{
    background: var(--para-color);
    color: var(--main-bg-color);
    padding: 10px;
    font: var(--para-small-font);
}
.footer a{
    color: var(--main-bg-color);
    text-decoration: underline;
    font: var(--para-small-font);
}
.form-open-span{
    display: none;
}
.scroll-to-top{
    background-color: #000;
    background-image: url(/img/arrow-up-white.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;
    border-radius: 50%;
    padding: 20px;
    cursor: pointer;
    position: fixed;
    bottom: 5%;
    right: 5%;
    opacity: 0;
    transition: opacity .3s;
}
.scroll-to-top_inactive{
    visibility: hidden;
}
.scroll-to-top_active{
    opacity: .2;
    visibility: visible;
    transition: opacity .3s;
    z-index: 2;
}
.rates_table{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}
.rates_table_rate{
    font: var(--para-medium-extrabolt);
    display: flex;
    gap: 5px;
}
.rates_table_currency{
    display: flex;
    gap: 5px;
    justify-content: space-between;
}
.rates_title{
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}
.rates_title h2{
    margin-bottom: 0;
}
.rates_table_title{
    display: flex;
    gap: 10px;
}
.rates_table_spot,
.rates_table_stock{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.changes-span{
    font: var(--para-small-font);
    border: 1px solid grey;
    padding: 2px 4px;
    border-radius: 4px;
}
.changes-span-minus{
    border: 1px solid var(--red);
    background-color: var(--red);
    color: var(--chip-bg-color);
}
.changes-span-plus{
    border: 1px solid var(--green);
    background-color: var(--green);
    color: var(--chip-bg-color);
    display: flex;
    gap: 2px;
}
.changes-span-plus::before{
    content: '+';
    display: block;
    width: 5px;
    height: 5px;
}
.open-hint{
    position: relative;
    display: flex;
    align-items: start;
}
.open-hint-btn{
    margin: 0;
    color: var(--question-mark-color);
    border: 1px solid var(--question-mark-color);
    padding: 0 6px;
    width: fit-content;
    border-radius: 6px;
    cursor: pointer;
    font: var(--para-small-font);
}
.open-hint-message{
    display: none;
    position: absolute;
    background: var(--title-color);
    color: var(--chip-bg-color);
    font: var(--para-small-font);
    right: -15px;
    padding: 16px 25px 16px 16px;
    border-radius: 6px;
    width: 150px;
    top: 30px;
}
.open-hint-message_active{
    display: block;
}
.open-hint-message::before{
    content: "";
    background-color: var(--title-color);
    width: 14px;
    height: 14px;
    top: -6px;
    right: 18px;
    position: absolute;
    transform: rotate(45deg);
}
.open-hint-btn-close{
    position: absolute;
    width: 12px;
    height: 12px;
    right: 10px;
    top: 10px;
    background: url(/img/thin-close-icon.svg) no-repeat;
    font-size: 40px;
    display: flex;
    align-items: center;
    cursor: pointer;
    background-size: contain;
}
div[data-block-name="button"] span,
div[data-block-name="button"] a{
    color: var(--main-bg-color);
}
@media (min-width: 992px) and (max-height: 460px){
    .sorting-column{
        position: static;
    }
}
@media (max-width: 992px){
    .columns{
        display: flex;
        flex-direction: column-reverse;
        margin: 0 15px;
        grid-gap: unset;
    }
    .footer_content{
        margin: 0 15px 40px;
    }
    .logo{
        border-radius: 0;
        padding: 0 15px;
        margin: 0 15px;
        z-index: 3;
    }
    .main{
        padding: 0;
    }
    .nav-wrapper, .chips{
        justify-content: flex-start;
        flex-wrap: wrap;
        margin: 0;
    }
    .sorting-column-collapsed .nav-wrapper{
        margin: 5px 0;
    }
    .nav-wrapper .chip{
        margin-left: 0;
    }
    h1{
        font: var(--h2-font);
    }
    h2{
        font: var(--h3-font);
    }
    .form-wrapper h2{
        text-align: center;
    }
    .form-ad-row-radio{
        max-width: 386px;
        margin: 10px auto;
    }
    .form-ad-row{
        max-width: 400px;
        margin: 10px auto;
    }
    .right_column{
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 3;
    }
    .additional-info{
        display: none;
    }
    .sorting-column{
        margin: 0;
        box-shadow: 0px -2px 8px 0px rgb(34 60 80 / 20%);
        padding: 30px 15px 20px;
    }
    .sorting-column-collapsed{
        display: flex;
        gap: 10px;
        padding-bottom: 10px;
    }
    .sorting-h2::before{
        content: '';
        width: 24px;
        height: 24px;
        background: url(/img/filter-icon.svg) no-repeat;
        display: inline-block;
    }
    .sorting-column-collapsed .currencies,
    .sorting-column-collapsed .sort,
    .sorting-column-collapsed .chip,
    .sorting-column-collapsed .course_checkbox,
    .sorting-column-collapsed .currency-title{
        display: none;
    }
    .sorting-column-collapsed .chip-active{
        display: flex;
        margin: 0;
        height: fit-content;
    }
    .sorting-column h2{
        margin: 0;
        font: var(--h3-font);
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: 18px;
        line-height: 20px;
    }
    .show-all-row{
        flex-direction: row;
        align-items: center;
    }
    .open-filters{
        display: block;
        position: absolute;
        top: -4px;
        right: 0;
        left: 0;
        text-align: center;
        padding: 10px 0;
    }
    .sorting-column-collapsed .open-filters{
        transform: rotate(.5turn);
    }
    .dropdown-hidden{
        top: auto;
        bottom: 130%;
        box-shadow: -1px 4px 8px 1px rgba(34, 60, 80, 0.2);
    }
    .dropdown-hidden::after{
        top: unset;
        bottom: -3px;
    }
    .scroll-to-top{
        bottom: 11%;
    }
}

@media (max-width: 921px){
    .logo{
        margin: 0;
    }
}
@media (max-width: 768px){
    .form-open{
        font-size: 0;
        background-color: var(--logo-color);
        width: 30px;
        height: 30px;
        border: unset;
        border-radius: 50%;
        padding: 0;
        background-position-y: 1px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .form-open-span{
        display: inline-block;
        font-size: 26px;
        font-weight: 100;
        color: var(--main-bg-color);
    }
    .form-bg-open+.form-open .form-open-span{
        transform: rotate(45deg);
    }
}
@media (max-width: 580px){
    .form-ad-row input{
        padding: 10px 16px;
    }
    .currencies{
        grid-column: 1 / 3;
        justify-self: flex-start;
    }
    .ads_found{
        grid-row: 6;
        grid-column: 1 / 3;
    }
    .course_checkbox{
        justify-self: flex-start;
        grid-row: 7;
        grid-column: 1 / 3;
    }
    .logo-img{
        width: 50px;
        height: 50px;
    }
    .logo-title{
        display: none;
    }
    .form-wrapper{
        max-width: 300px;
    }
    .open-search{
        display: block;
        justify-self: flex-end;
        background-color: var(--logo-color);
        object-fit: none;
        border-radius: 50%;
        margin-right: 10px;
    }
    .search-form{
        grid-column: 1 / 4;
        width: 100%;
        transform: scale(1, 0);
        position: absolute;
        top: 100%;
        transition: transform .1s;
        background: var(--main-bg-color);
        width: calc(100vw - 30px);
        left: 0;
        right: 0;
        padding: 5px 0;
        margin: auto;
    }
    .search-submit{
        right: 15px;
    }
    .open-search-active{
        background-image: url(/img/thin-close-icon-white.svg);
    }
    .open-search-active + .search-form{
        transform: scale(1, 1);
        transition: transform .1s;
    }
    .search-input{
        max-width: 97%;
        width: 100%;
        display: block;
        margin: auto;
    }
    .chip a{
        padding: 5px;
    }
    .open-hint-message{
        left: -140px;
    }
    .open-hint-message::before{
        left: 143px;
    }
}
@media (max-width: 500px){
    .post-content{
        word-break: break-word;
    }
    .sorting-column h2{
        font: var(--h4-font)
    }
    .time-published{
        font: var(--para-small-font);
    }
}
@media (max-width: 450px){
    .nav-wrapper{
        grid-template-columns: repeat(3, max-content);
    }
    .hidden_on_mobile{
        display: none;
    }
    .go_to_vk{
        text-transform: capitalize;
    }
    .modal-inner{
        max-width: 80%;
    }
    .rates_table{
        flex-direction: column;
        gap: 15px;
    }
}
@media (max-height: 600px){
    .form-wrapper{
        top: 2%;
    }
    .location-list{
        gap: 12px;
    }
    .form-ad-row input{
        padding: 6px 10px;
    }
}